/vendor/
/node_modules/
composer.lock
.phpunit.result.cache
.phpunit.cache
.DS_Store
Thumbs.db
.idea/
.vscode/
.run/
.php-cs-fixer.php
.php-cs-fixer.cache
.phpactor.json
/build/
/coverage/
phpunit.xml
testbench.yaml
.env
.env.backup
